.list-parent {
  width: 40rem;
  margin: 0 auto;
  max-width: 90%;
  background-color: white;
  padding: 1rem;
}

.single-word {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.single-word h4 {
  align-self: center;
  flex: 2;
}

.single-word button {
  margin-bottom: 0;
  margin-right: 1rem;
}
